@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.lwright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.follow {
  margin-left: -7px;
}

.regbtn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 50px;
}

.timer {
  display: flex;
}

.day,
.minutes,
.hours {
  font-size: 3.5rem;
  font-family: "Inter";
  letter-spacing: 0rem;
  font-weight: 600;
}

.sm,
.sm1 {
  font-size: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.gd {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  letter-spacing: 0.5rem;
  margin-left: 1.5rem;
  padding-left: 0.85rem;
}

.minute {
  letter-spacing: 0.5rem;
  margin-left: 1.5rem;
}

.sm1 {
  margin-left: 2.4rem;
}

.timer-container {
  position: fixed;
  bottom: 0;
  left: 0;
}

.hours {
  margin-left: -0.8rem;
}
